* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /*the horizontal scrollbar that was being produced due to using translateX(100%) will now be hidden*/
}



a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  background: lightblue;
  padding: 1rem 2rem;
  height: 80px;
}

.navbar .logo {
  width: 50px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar a:hover {
  color: blue;
}


/* Mobile Menu */
.navbar .mobile-menu-items {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(154, 192, 204, 0.5);
  text-align: center;
  /* for the menu to slide in */
  transition: transform 0.3s ease;
  /*gonna move to the right and go out of screen*/
  transform: translateX(100%); /*gonna start off screen due to this*/
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 300px;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar .mobile-menu-toggle {
  cursor: pointer;
}

/* gonna work with it in script.js */
.navbar .mobile-menu-items.active {
  transform: translateX(0); /*gonna slide the menu into the middle*/
}

.navbar .mobile-menu {
  display: none;
}

@media (max-width:768px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }
}