* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

:root {
  --container-width: 1000px;
}

.container {
  background: black;
  width: var(--container-width);
  height: 200px;
  display: flex;
}

.item {
  height: calc(100% - 20px);
  /* gonna be 400 px */
  /* width: calc(500px - 100px); */
  /* width: calc(var(--container-width)/2); */
  min-width: calc(calc(100% / 5) - 20px);
  margin: 10px;
  background: coral;
}

