body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  /* background-color: coral; */
  /* background-image: url(hero.jpg); */
  /* background-size: 350px; */
  /* background-repeat: no-repeat; */
  /* background-size: cover;  */
  /* background-position: center; 200px -500px OR 50% -500px */
  /* background: url('hero.jpg') no-repeat center/cover */
  /* background-attachment: fixed; scroll */




  /* Linear gradient */
  background: linear-gradient(to bottom, lightblue, darkblue);

}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  text-align: center;
  font-size: 2rem;
}
