html {
  /* by default, it's 16px. when u do 2rem, it multiplies with whatever the root html font size is; 2X10 in this case. */
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  font-size: 20px;

}

p {
  font-size: 1.2rem;  /*multiplies with the root html font size*/
  /*font-size: 2em. multiplies with the parent font-size, otherwise with the root html font size. 20 X 2 in this case*/
}

