html {
    /* default font-size is 16px but u r changing it here to 10px */
    font-size: 10px; 
}

body {
    font-family: 'Poppins', 'Arial',sans-serif;
    line-height: 50px;
} 

a  {
    text-decoration: none;
}

/* h2 {
    font-size: 3rem/30px/small/medium/large/x-large/xx-large;
    font-weight: 300/bold;
    font-style: italic/normal;
    font-variant: small-caps/normal;

    OR

    font: italic small-caps 700 26px Arial;

    text-decoration: underline;
    text-transform: uppercase/lowercase/capitalize/none;
    text-indent: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: left/center/right;


} */

