* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  /* CSS rules. these will be applied if viewport width becomes less than or equal to 1200px. */
  .widescreen {
    background-color: coral;
  }
}

@media (max-width: 992px) {
  .normal {
    background-color: lightblue;
  }
}

@media (orientation: landscape) {
  .landscape {
    background-color: lightgoldenrodyellow;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background: #333 ;
  }
}