body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background: #f4f4f4;
}

.item {
  background-color: coral;
  border: 1px solid #333;
  padding: 1rem;
  text-align: center;
}

.item-grid {
  display: grid;
  /* difference between auto-fit and auto-fill is that auto-fit stretches out the items to fit the leftover space but auto-fill may leave some space after creating as many columns as possible */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /*the items can adjust their size with change in window size since minmax() is being used*/
}