body {
  font-family: Arial, sans-serif;
}

.box {
  width: 200px;
  height: 200px;
  background: lightblue;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  position: static; /*default*/
  left: 30px; /*wont work*/
}

.box-2 {
  position: relative;
  left: 30px;
  top: 20px;
}

.box-3 {
  position: fixed;
  z-index: 2; /*will not go behind other boxes */
  top: 0;
  /* right: 0; */
}

.box-4 {
  position: sticky;
  top: 200px;
}

.box-5 {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: red;
}

.box-6{
  position: absolute;
  bottom: 20px;
  right: 20px;
}