* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%; /*it will take up 80% of the container it's in. but sometimes, doesnt work with images. */
  max-width: 1100px;
  margin: 15% auto;
  padding: 20px;
}

img {
  max-width: 100%;
}