body {
  font-family: 'Poppins', sans-serif;
}

.box {
  background-color: darkblue;
  color: white;
  /* padding: 20px; */
  width: 300px;

  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 100px;
  padding-left: 60px;

  /* padding: 20px 40px 100px 60px */
  /* padding: 20px (top-bottom) 40px (left-right) */
  /* padding: 20px (top) 40px (left-right) 30px (bottom) */
}