body {
  font-family: Arial, sans-serif;
}


.none-el {
  /* removes entire space */
  display: none;
}

.hidden-el {
  /* text hidden but spacing is still there */
  visibility: hidden;
}

/* p {
  display: inline;
}

a {
  display: block;
} */

a {
  display: inline-block;
  background-color: lightblue;
  border: blue solid 1px;
  padding: 10px;
  margin: 20px 10px;
  width: 200px;
  height: 100px;
}