body {
    font-family: 'Arial', sans-serif;
}

.flex-container {
    background-color: #ccc;
    display: flex;
    flex-direction: row ; /*column-reverse/row-reverse*/
    flex-wrap: wrap; /* so that width of the items dont scrunch up when u scrunch up the window*/  /*wrap-reverse*/
    gap: 10px;
    row-gap: 20px;
    /* column-gap */
}

.flex-item {
    height: 200px;
    width: 200px;
    background-color: coral;
    border: 1px solid black;
}