* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: coral;
  /* will take up 100% height of the viewport */
  height: 100vh;
  width: 50vw;
}

.container h1 {
  font-size: 7vw;
}