body {
  font-family: Arial, sans-serif;
}

 .flex-container {
  background-color: lightblue;
  display: flex;
  width: 100%;
  height: 400px;
  /* flex-start/center/space-between/space-around/space-evenly */
  justify-content: flex-end;
  /* flex-start/center/stretch/baseline */
  align-items: flex-end;
 }

 .flex-item {
  height: 200px;
  width: 200px;
  background-color: coral;
  border:1px solid black;
 }

 .item-2 {
  align-self: flex-start;
 }