* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: var(--primary-color); /*wont work since header is not part of container*/
  padding: 20px 0;
  text-align: center;
}

.container {
  /* Custom property. like a variable. since the custom property is set under container, if we apply it on anything outside the container, wont work */
  --primary-color: lightblue;
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

/* better */
/* :root { */
      /* --primary-color: lightblue; */
/* } */

.box {
  flex: 1;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* using custom property */
.box-1 {
  background: var(--primary-color);
}